/* Game Css */
h1 i {
  font-size: 40px;
}

#room-create, #game-round-submit {
  margin-top: 15px;
}

.game-round-acronym {
  margin: 20px auto;
  font-size: 64px;
  text-align: center;
}

.game-round-acronym-description {
  text-align: center;
}

.winner-icon {
  margin-right: 5px;
}

#game-over-container {
  text-align: center;
}


/* Lobby Css */
#room-list .room-join-code {
  margin-right: 10px;
}

.room-join-code {
  font-family: monospace;
  text-transform: uppercase;
}

#room-list li{
  font-size : 14px;
}

.label-default {
  background-color:#818a91;
}

/* Login Css */
#login {
  width : 780px;
  margin : 0 auto;
}