extends ./layout.pug
block title
    title Account Page

block content
    include ./nav.pug
    include ./messageHandling.pug
    h2 Account of !{user.username}

    if user.type == 'admin'
        p You are an admin
    else
        p You are a user