extends ./layout.pug
block title
    title Account Page

block content
    nav(class="navbar navbar-default")
        .container-fluid
            .nav-bar-header
                .navbar-right
                    a(class="btn btn-danger navbar-btn", href="/users/logout", role="button") Logout
    h2 Account of !{user.username}

    if user.type == 'admin'
        p You are an admin
    else
        p You are a user