link(rel='icon',href='../../favicon.ico?v=1',type='image/x-icon')
link(rel='stylesheet',href='../../css/bootstrap.min.css',media='screen')
link(rel='stylesheet',href='../../css/main.css',media='screen')