nav(class="navbar navbar-default")
    .container-fluid
        .nav-bar-header
            .navbar-right
                a(class="btn btn-primary navbar-btn offset-right", href="/users/account", role="button") Your Account
                if user.type == 'admin'
                    a(class="btn btn-primary navbar-btn offset-right", href="/admin/acronym", role="button") Manage Acronyms
                a(class="btn btn-danger navbar-btn offset-right", href="/users/logout", role="button") Logout
